@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu+Sans+Mono:wght@400..700&display=swap");

:root {
  --PADDING: 10px;
  --MAIN_COLOR: white;
  --SECONDARY_COLOR: black;
  --BORDER_SIZE: 3px;
}

.container {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--SECONDARY_COLOR);
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.side-img {
  display: flex;
  background-image: url(./../src/img.jpg);
  width: calc(50% - 6px);
  border-right: calc(var(--BORDER_SIZE) * 2) solid var(--SECONDARY_COLOR);
}

.sec-img {
  display: none;
  background-image: url(./../src/img.jpg);
  height: 30%;
  width: 100%;
  border-top: calc(var(--BORDER_SIZE) * 2) solid var(--SECONDARY_COLOR);
}

.auth {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.auth-block {
  display: flex;
  flex-direction: column;

  width: 400px;

  padding: var(--PADDING);
  padding-bottom: 0;

  border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  color: inherit;
  border-radius: calc(var(--PADDING) * 2);
}

.form-element {
  display: flex;
  margin-bottom: var(--PADDING);
}

/* ---- LOG/PASS ---- */

.log-input {
  height: 25px;
  padding: 0 calc(var(--PADDING) / 2) 0 calc(var(--PADDING) / 2);

  border: inherit;
  border-radius: var(--PADDING);

  font-size: inherit;
  background-color: var(--MAIN_COLOR);
  color: var(--SECONDARY_COLOR);

  .log-input::placeholder {
    color: var(--SECONDARY_COLOR);
  }
}

.password:valid {
  background-color: lightgreen;
}

.password:invalid {
  background-color: var(--MAIN_COLOR);
}

/* ---- SELECTION AREA ---- */

.wrapper {
  flex-direction: column;
}

.sex {
  display: flex;
  align-items: center;
  margin-bottom: var(--PADDING);
  input {
    font-size: inherit;
  }
}

.prefer {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--PADDING);
  align-items: center;
}

.file-select {
  display: flex;
  font-size: inherit;
  align-items: baseline;
  input {
    font-size: inherit;
  }
}

/* ---- TEXT AREA ---- */

.text {
  display: flex;
  margin-bottom: var(--PADDING);
  gap: 10px;
  width: 100%;
}

.info {
  flex-grow: 1;
  font-size: inherit;
  border-radius: var(--PADDING);
  padding: calc(var(--PADDING) / 2);
  background-color: var(--MAIN_COLOR);
  border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  color: var(--SECONDARY_COLOR);
  margin: 0;
}

.gif {
  height: 50%;
  width: 50%;
  border-radius: var(--PADDING);
}

/* ---- SUBMIT/CLEAR ---- */

.buttons {
  gap: var(--PADDING);
}

.button {
  height: 30px;
  font-size: inherit;
  width: 50%;
  border-radius: var(--PADDING);
  background-color: var(--SECONDARY_COLOR);
  border: 0;
  color: var(--MAIN_COLOR);
}

/* ----- MEDIA QUERY ----- */

/* ----- MOBILE VERSION ----- */

@media (max-width: 600px) {
  .container {
    justify-content: center;
    background-image: url(./../src/img.jpg);
  }

  .side-img {
    display: none;
  }

  .auth {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .auth-block {
    display: flex;
    padding: var(--PADDING);
    border: 0;
    width: 100%;
    border-radius: calc(var(--PADDING) * 2);
    flex-direction: column;
  }

  .wrapper {
    border-radius: var(--PADDING);
    border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
    background-color: var(--MAIN_COLOR);
    margin-bottom: var(--PADDING);
    padding: var(--PADDING);
  }

  .form-element {
    border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  }

  .buttons {
    border-radius: var(--PADDING);
    border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
    background-color: var(--MAIN_COLOR);
    margin-bottom: var(--PADDING);
    padding: var(--PADDING);
  }
}

/* ----- PAD VERSION ----- */

@media (min-width: 600px) and (max-width: 1100px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100wh;
    height: 100vb;
  }

  .auth {
    width: 100%;
  }

  .side-img {
    border-bottom: calc(var(--BORDER_SIZE) * 2) solid var(--SECONDARY_COLOR);
    height: 30%;
    border-right: 0;
    width: 100%;
  }

  .sec-img {
    display: flex;
  }

  .auth-block {
    margin-top: calc(var(--PADDING) * 2);
    margin-bottom: calc(var(--PADDING) * 2);
  }
}
