@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Ubuntu+Sans+Mono:wght@400..700&display=swap");

:root {
  --PADDING: 10px;
  --MAIN_COLOR: white;
  --SECONDARY_COLOR: black;
  --BORDER_SIZE: 3px;
}

.container {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: var(--SECONDARY_COLOR);
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.side-img {
  display: flex;
  background-image: url(./../src/img.jpg);
  width: 50%;
  border-right: calc(var(--BORDER_SIZE) * 2) solid var(--SECONDARY_COLOR);
}

.auth {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.auth-block {
  border: var(--BORDER_SIZE) solid var(--SECONDARY_COLOR);
  color: inherit;
  width: 350px;
  border-radius: 20px;
  padding: var(--PADDING);
  flex-direction: column;
  textarea {
    width: calc(100% - var(--PADDING));
    max-width: calc(100% - var(--PADDING));
    margin-bottom: var(--PADDING);
    font-size: inherit;
    border-radius: var(--PADDING);
    padding: 5px;
    background-color: var(--MAIN_COLOR);
    border: inherit;
    color: var(--SECONDARY_COLOR);
  }
  .textarea::placeholder {
    color: var(--SECONDARY_COLOR);
  }
}

.log-input {
  width: calc(100% - var(--PADDING));
  margin-bottom: var(--PADDING);
  border-radius: var(--PADDING);
  height: 25px;
  font-size: inherit;
  background-color: var(--MAIN_COLOR);
  border: 3px solid var(--SECONDARY_COLOR);
  color: var(--SECONDARY_COLOR);
  .log-input::placeholder {
    color: var(--SECONDARY_COLOR);
  }
}

.choose {
  display: flex;
  margin-bottom: var(--PADDING);
  width: calc(100% - var(--PADDING));
  align-items: baseline;
  justify-content: space-between;
  input {
    font-size: inherit;
  }
  .file-input {
    width: 200px;
  }
}

.buttons {
  display: flex;
  align-self: flex-end;
  width: 100%;
  gap: var(--PADDING);
  button {
    height: 30px;
    font-size: inherit;
    width: 50%;
    border-radius: var(--PADDING);
    background-color: var(--SECONDARY_COLOR);
    border: 0;
    color: var(--MAIN_COLOR);
  }
}

/* ----- MEDIA QUERY ----- */

@media (min-width: 350px) and (max-width: 600px) {
}

@media (min-width: 600px) and (max-width: 1100px) {
}

@media (min-width: 1100px) {
}
